body {
        text-align: center;
        font-family: arial;
        font-size: 11pt;
        margin: 0;
        padding: 0;
      }
      
table {
        border: solid 1px;
        margin: 0px auto;
}

thead {
       border-bottom: 1px solid black; 
}

tr:nth-child(even) {
    background-color: #efefef;
}

#column1-container {
	float: left;
	width: 70%;
}

#column1 {
	margin-right: 5%;
	margin-left: 5%;
}

#column2 {
	float:left;
	width:30%
}

#clear {
	clear: both;
}